.card {
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.85);
}

.card-header {
  backdrop-filter: saturate(180%) blur(10px);
  background: rgb(53, 79, 126);
}

.label {
  color: #6c757d;
}

.custom-btn {
  color: #fff;
}

.custom-btn:hover {
  color: #1370fb;
}

.btn-primary {
  background-color: hsl(219, 41%, 35%);
  border: none;
}

.btn-primary:hover {
  background-color: hsl(218, 81%, 45%);
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.card-header {
  font-weight: 600;
}

.badge {
  font-size: 0.85rem;
  padding: 0.45em 0.6em;
  border-radius: 0.5rem;
}
