:root {
  --navbar-height: 65px;
  --sidebar-width: 250px;
  --sidebar-closed-width: 70px;
}

/* Estructura general */
.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

/* Sidebar */
app-sidebar {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  transition: width 0.3s ease;
  z-index: 1030;
}

app-sidebar.closed {
  width: var(--sidebar-closed-width);
  min-width: var(--sidebar-closed-width);
}

/* Contenido principal */
.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: var(--sidebar-width);
}

app-sidebar.closed ~ .content-wrapper {
  margin-left: var(--sidebar-closed-width);
}

/* Contenido principal */
.main-content {
  flex-grow: 1;
  background-color: #f8f9fa;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  padding: 2rem;
}

/* Ajuste responsive */
@media (max-width: 992px) {
  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
  }

  app-sidebar:not(.closed) {
    transform: translateX(0);
  }

  .content-wrapper {
    margin-left: 0 !important;
  }
}
